body {
    overflow-x: hidden;
}

.wrapper {
    font-family: 'Marvel', sans-serif;
}

.q-section {
    opacity: 0;
    display: none;

    transition: all 0.2s ease-out;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
}

/* Preloader */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;

    transition: all 1s;
    opacity: 1;
    visibility: visible;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    width: 100%;
    height: 100%;
}

.loader span {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 12px;

    border-radius: 50%;

    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}

.loader span:nth-child(1) {
    background-color: #1fa2ff;
}

.loader span:nth-child(2) {
    background-color: #12d8fa;
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    background-color: #a6ffcb;
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 20px;
        height: 20px;
        transform: translate3d(0, -16px, 0);
    }
}

.done {
    opacity: 0;
    visibility: hidden;
}

/* Genre Section */

.genre-list {
    margin-top: 70px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    transition: all 3s;
}

.genre-item {
    width: 130px;
    height: 40px;

    margin: 40px 50px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    color: #fff;
    background-color: #202020;

    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    transition: all 0.4s;
}

.genre-item.active {
    background-color: #ffa030;
}

/* Submit Btn */

.submit-btn {
    width: 147px;
    height: 52px;

    opacity: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 75px;

    border: 3px solid #21ebff;
    border-radius: 30px;
    box-sizing: border-box;
    background: linear-gradient(to right, #21ebff 0%, #21ebff 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;

    cursor: default;
    z-index: 9;

    transition: background-position 0.5s;
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
    background-position: 0 0;
    box-shadow: 0px 5px 20px 0px #21ebff;
}

.submit-btn-arrow {
    display: inline-flex;
    position: relative;
    width: 0;
    height: 20px;
    margin-top: 3px;
}

.submit-btn-arrow:before,
.submit-btn-arrow:after {
    display: inline-flex;
    position: absolute;
    content: '';
}

.submit-btn-arrow:before {
    top: 9px;
    right: -50px;
    width: 40px;
    height: 3px;
    background-color: #21ebff;
    transition: all 0.6s;
}

.submit-btn-arrow:after {
    width: 15px;
    height: 15px;
    top: 2px;
    right: -51px;
    border-top: 3px solid #21ebff;
    border-right: 3px solid #21ebff;
    transform: rotate(45deg);
    transition: all 0.5s;
}

.submit-btn:hover .submit-btn-arrow:before {
    background-color: #fff;
}

.submit-btn:hover .submit-btn-arrow:after {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

/* Actor Form */

.actor-form {
    width: 40%;
    padding-top: 10px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(500%, -50%);
    transition: all 2s;
    cursor: default;
    outline: none;
}

.actor-input {
    width: 100%;
    padding: 5px 0;
    border: 0;
    border-bottom: 2px solid #524646;
    outline: 0;

    font-family: 'Marvel', sans-serif;
    font-size: 28px;
    color: #202020;
    background: transparent;
    transition: border-color 0.4s;
}

.actor-input::placeholder {
    color: transparent;
}

.actor-input:placeholder-shown+.actor-label {
    font-size: 26px;
    cursor: text;
    top: 20px;
}

.actor-label {
    position: absolute;
    top: -20px;
    display: block;
    transition: 0.2s;
    color: #202020;
    font-size: 24px;
}

.actor-input:focus+.actor-label {
    position: absolute;
    top: -20px;
    display: block;
    transition: 0.2s;
    color: #21ebff;
    font-size: 24px;
}

.actor-input:focus {
    border-bottom: 2px solid #21ebff;
}

.actor-span {
    -webkit-user-select: none;
    user-select: none;
}

/* Skip Checkbox */

.skip-checkbox {
    margin-top: 60px;
    text-align: center;
}

.skip-checkbox-input {
    display: none;
}

.skip-checkbox-label {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-user-select: none;
    user-select: none;
    transform: translate3d(0, 0, 0);
}

svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #C8CCD4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
}

path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

polyline:hover,
polyline:before polyline:after {
    opacity: 1;
}

svg {
    stroke: #21ebff;
}

.skip-checkbox-input:checked+.skip-checkbox-label svg {
    stroke: #21ebff;
}

.skip-checkbox-input:checked+.skip-checkbox-label path {
    stroke-dashoffset: 60;
    transition: all .3s linear;
}

.skip-checkbox-input:checked+.skip-checkbox-label polyline {
    stroke-dashoffset: 42;
    transition: all .2s linear;
    transition-delay: .15s;
}

.skip-checkbox-span {
    margin-left: 7px;

    -webkit-user-select: none;
    user-select: none;

    font-size: 26px;
    color: #202020;
}

/* Decades List */

.decades-wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(500%, -50%);
    transition: all 2s;

    display: flex;
    flex-direction: column;
}

.decades-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.decades-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    list-style: none;
}

.decades-item {
    margin: 15px 0;
    display: flex;
    position: relative;

    min-width: 135px;
}

.decades-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}

.decades-input:checked+.decades-span {
    border-color: #21ebff;
    box-shadow: 0 0 0 10px #21ebff inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.decades-input:checked+.decades-span::after {
    content: '';
    width: 100%;
    height: 100%;
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.decades-label {
    padding-left: 40px;
    word-spacing: 3px;
    font-size: 26px;
    color: #202020;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.decades-input:checked~.decades-label {
    transition: all .3s ease;
}

.decades-span {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background-color: #FFF;
    border: 3px solid #21ebff;
    box-shadow: 0px 0px 0px 0px #21ebff inset;

    cursor: pointer;
    position: absolute;
    z-index: -1;
}

.decades-span::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
}

.disabled {
    pointer-events: none;
}

/* Country Form */

.country-wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(500%, -50%);
    transition: all 2s;
    outline: none;
}

.country-select {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    outline: none;
}

.country-btn {
    padding: 15px 60px;

    display: inline-block;

    background: #fff;
    border: 2px solid #202020;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);

    font-family: 'Marvel', sans-serif;
    font-size: 24px;
    line-height: 20px;

    cursor: pointer;
    outline: none;
    transition: all 0.2s;
}

.country-btn:focus,
.country-btn__active {
    outline: none;
}

.country-select::after {
    content: '';
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;

    position: absolute;

    position: relative;
    right: 25px;
    top: -2px;

    pointer-events: none;
}

.country-wrap.active .country-select::after {
    transform: rotate(-45deg) translate(0%, 0%);
}

.country-list {
    display: none;
    list-style-type: none;
    outline: none;

    position: absolute;
    top: 60px;
    right: 5px;

    height: 240px;
    width: 100%;

    background: #fff;
    box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
    overflow-x: hidden;

    border: none;
    border-radius: 5px;

    font-size: 22px;
    z-index: 9;
}

.country-list__visible {
    display: block;
}

.country-item {
    margin: 0;
    padding: 0;
    border: none;
    padding: 13px 20px;
    cursor: pointer;
}

.country-item:first-child {
    border-radius: 6px 6px 0 0;
}

.country-item:last-child {
    border-radius: 0 0 6px 6px;
}

.country-item:hover {
    background: rgba(176, 198, 225, 0.26);
}

.country-input__hidden {
    display: none;
}

/* Final Submit Btn */

.final-btn {
    width: 147px;
    height: 52px;

    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    border: 3px solid #21ebff;
    border-radius: 30px;
    box-sizing: border-box;
    background: linear-gradient(to right, #21ebff 0%, #21ebff 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;

    transition: background-position 0.5s;
    transition: all 0.4s ease-in-out;

    font-size: 22px;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
    color: #21ebff;

    pointer-events: none;
    cursor: pointer;
    z-index: 1;
}

.final-btn:hover {
    color: #fff;
    background-position: 0 0;
    box-shadow: 0px 5px 20px 0px #21ebff;
}

/* Main */

.movie-list-title {
    opacity: 0;
    cursor: default;

    text-align: center;
    margin-top: 50px;

    font-family: 'Lobster', cursive;
    font-size: 50px;

    transition: all 0.5s ease-in-out;
}

#main {
    opacity: 0;
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.movie-card-wrap {
    margin: 40px;

    transform: perspective(1000px);
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
}

.movie-card {
    width: 300px;
    height: 440px;
    position: relative;
    flex: 0 0 240px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.movie-card__front {
    width: 100%;
    height: 100%;

    position: absolute;
    top: -20px;
    left: -20px;
    padding: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.movie-card__back {
    width: 100%;
    height: 100%;

    text-align: center;
    position: absolute;

    color: #fff;
    background-color: #222;
    transform: translateY(100%);
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.movie-card-wrap:hover .movie-card {
    transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.movie-card-wrap:hover .movie-card__front {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
}

.movie-title {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 24px;
    color: #fff;
    width: 75%;
}

.movie-subline {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 7px;
    background-color: #fff;
    border-radius: 40px;
}

.movie-overview {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    width: 90%;
    font-size: 19px;
    color: #fff;
}

/* No Results Page */

.no-results {
    opacity: 0;

    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;

    transition: 0.3s;
}

.no-results__top {
    position: relative;
    right: 50%;
}

.no-results__bottom {
    position: relative;
    left: 50%;
    color: #21ebff;
    text-decoration: none;
    cursor: pointer;
}

/* Pagination */

.pagination {
    opacity: 0;

    margin: 75px 0 125px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;

    transition: all 0.5s ease-in-out;
}

.current {
    margin: 0 80px;
    font-size: 60px;
    font-weight: 700;
    color: #222;
    cursor: default;
}

.page-btn {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #222;
    border-radius: 40px;
    cursor: default;

    transition: all 0.2s;
}

.page-btn::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 4px solid #222;
    border-left: 4px solid #222;

    position: relative;
    left: 30%;
    top: 7%;

    transition: 0.3s;
}

.page-btn__prev {
    transform: rotate(315deg);
}

.page-btn__next {
    transform: rotate(135deg);
}

.page-btn:hover {
    background-color: #222;
}

.page-btn[disabled="disabled"]:hover {
    background-color: #cacaca;
    border: 2px solid #cacaca;
}

.page-btn:hover::after {
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}

/* Adaptive Design */

@media (max-width: 1300px) {

    /* Actor Form */

    .actor-form {
        width: 50%;
    }

}

@media (max-width: 1200px) {

    /* Genre Section */

    .genre-item {
        width: 115px;
        height: 37px;
        margin: 30px 40px;
        font-size: 21px;
    }

    .submit-btn {
        width: 135px;
        height: 50px;
    }

}

@media (max-width: 1100px) {

    /* Actor Form */

    .actor-form {
        width: 60%;
    }

}

@media (max-width: 900px) {

    /* Actor Form */

    .actor-form {
        width: 70%;
    }

}

@media (max-width: 820px) {

    /* Genre Section */

    .genre-list {
        margin-top: 15px;
    }

    .submit-btn {
        margin-top: 25px;
    }

}

@media (max-width: 800px) {

    /* No Results Page */

    .no-results {
        font-size: 30px;
        line-height: 70px;
    }

}

@media (max-width: 750px) {

    /* Actor Form */

    .actor-form {
        width: 80%;
    }

}

@media (max-width: 720px) {

    /* Country Form */

    .country-wrap,
    .country-btn,
    .country-list {
        width: 375px;
    }

}

@media (max-width: 620px) {

    /* Genre Section */

    .genre-item {
        width: 108px;
        height: 35px;
        margin: 30px 30px;
    }

    .submit-btn {
        width: 130px;
        height: 48px;
    }

    .submit-btn-arrow:after {
        border-top: 2.5px solid #21ebff;
        border-right: 2.5px solid #21ebff;
    }

    /* Actor Form */

    .actor-form {
        width: 80%;
    }

    /* Decades List */

    .decades-col {
        margin: 0 50px;
    }

    .decades-label {
        font-size: 24px;
    }

    .decades-skip-checkbox-span {
        font-size: 24px;
    }

    /* Country Form */

    .country-wrap {
        margin-left: 5px;
    }

}

@media (max-width: 550px) {

    /* No Results Page */

    .no-results {
        font-size: 26px;
        line-height: 50px;
        width: 100%;
    }

    .no-results__top {
        right: 0;
    }

    .no-results__bottom {
        left: 0;
    }

}

@media (max-width: 530px) {

    /* Genre Section */

    .genre-item {
        width: 115px;
        height: 37px;
        margin: 30px 40px;
        font-size: 21px;
    }

    /* Actor Form */

    .actor-label {
        font-size: 22px;
    }

    .actor-input {
        font-size: 26px;
    }

    .actor-input:placeholder-shown+.actor-label {
        font-size: 24px;
        top: 20px;
    }

    .actor-input:focus+.actor-label {
        top: -20px;
        font-size: 22px;
    }

    .skip-checkbox-span {
        font-size: 24px;
    }

}

@media (max-width: 500px) {

    /* Country Form */

    .country-wrap,
    .country-btn,
    .country-list {
        width: 300px;
    }

    .country-list {
        top: 80px;
    }

    .final-btn {
        width: 130px;
        height: 50px;
    }

    /* Main */

    .movie-card {
        width: 270px;
        height: 396px;
    }

    .movie-title {
        font-size: 22px;
    }

    .movie-overview {
        font-size: 17px;
        top: 52%;
    }

}

@media (max-width: 440px) {

    .decades-list {
        margin-left: 20px;
    }

    .decades-col {
        margin: 0 20px;
    }

    .decades-span {
        width: 17px;
        height: 17px;
    }

    .decades-label {
        font-size: 22px;
        padding-left: 35px;
    }

    .decades-skip-checkbox-span {
        font-size: 22px;
    }

}

@media (max-width: 420px) {

    /* Genre Section */

    .genre-item {
        width: 95px;
        height: 30px;
        margin: 30px 20px;
    }

    .submit-btn {
        width: 120px;
        height: 45px;
    }

    .submit-btn-arrow:before {
        width: 35px;
        right: -45px;
    }

    .submit-btn-arrow:after {
        border-top: 2.5px solid #21ebff;
        border-right: 2.5px solid #21ebff;
        right: -46px;
    }

    /* Actor Form */

    .actor-label {
        font-size: 20px;
    }

    .actor-input {
        font-size: 24px;
    }

    .actor-input:placeholder-shown+.actor-label {
        font-size: 22px;
        top: 20px;
    }

    .actor-input:focus+.actor-label {
        top: -20px;
        font-size: 20px;
    }

    .skip-checkbox-span {
        font-size: 22px;
    }

}

@media (max-width: 400px) {

    /* Pagination */

    .page-btn {
        width: 45px;
        height: 45px;
    }

    .page-btn-arrow::after {
        left: 3px;
    }

    .page-btn-arrow__first:after {
        left: 10px;
    }

}